@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-theme-neutral-0: #000;
  --color-theme-neutral-100: #1a1e21;
  --color-theme-neutral-200: #272c30;
  --color-theme-neutral-300: #2f3539;
  --color-theme-neutral-400: #3a4045;
  --color-theme-neutral-500: #4c535a;
  --color-theme-neutral-600: #586067;
  --color-theme-neutral-700: #666d75;
  --color-theme-neutral-800: #828a92;
  --color-theme-neutral-900: #fff;
  --color-pretty-orange: #f8ae2c;
  --color-pretty-red: #f3194d;
  --color-pretty-green: #23c361;
  --color-pretty-pink: #ff0bd6;
  --color-pretty-purple: #b35ae9;
  --color-pretty-blue: #0bb0ff;
  --color-pretty-theme: var(--color-pretty-orange);

  --font-plex: "IBM Plex Sans";
  --font-symbol: "Material Symbols";

  --contrast: hsl(0 0% 0%);

  --shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
  --shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
  --shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
  --shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
  --shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);
}
